/* || General Styles */

html {
  overflow: auto;
}

body {
  background-color: #073b4c;
  font-family: "Quicksand", sans-serif;
}

header {
  margin: 3rem auto 1rem;
}

/* || Header */

h1 {
  font-family: "Molle", cursive;
  font-size: 3.5rem;
  color: #ffffff;
  letter-spacing: 4px;
  text-align: center;
  margin: 3rem auto 0 auto;
  transform: translateY(300%);
  transition: transform 0.75s;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateY(50%);
}

.play-with-button,
.start-button,
.play-again-button {
  border: 0;
  border-radius: 10px;
  background-color: #ffd166;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem;
  margin: 1rem;
  width: 250px;
  transition: all 0.1s ease-in;
}

.play-with-button:hover {
  background-color: #83c5be;
  color: white;
}

.start-button,
.play-again-button {
  font-size: 1.25rem;
  letter-spacing: 2px;
  position: relative;
  transform: scale(0);
  transition: transform 0.75s;
  z-index: 1;
}

.start-button:before,
.play-again-button:before {
  background-color: #83c5be;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.5s all ease;
}

.start-button:hover:before,
.play-again-button:hover:before {
  border-radius: 10px;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* || Player Boxes */

.player-box-wrapper {
  display: flex;
  justify-content: center;
  transition: transform 0.75s;
  transform: scale(0);
}

.player-box {
  background: #ffd166;
  border: 10px solid #ffd166;
  border-radius: 10px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  width: 150px;
  height: 130px;
  padding: 1rem;
  margin: 1.5rem;
}

.player-box > label {
  font-size: 1.25rem;
}

.player-box > p {
  margin: 0 auto;
  min-height: 30px;
  overflow-wrap: break-word;
}

.current-player {
  border: 10px solid #ef476f;
}

#player-one-name,
#player-two-name {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 12px auto;
  width: 125px;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  text-align: center;
}

.player-symbol {
  display: flex;
  justify-content: space-evenly;
}

.player-symbol > p {
  background-color: #ffffff;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 2.5rem;
  margin: 0;
  width: 3rem;
}

.game-message {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

/* || Game Board */

main {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  color: #ffffff;
  font-size: 6rem;
  font-weight: 700;
}

.game-board-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.game-board-grid:nth-child(-n + 6) {
  border-bottom: 1px solid #ffffff;
}

.game-board-grid:nth-child(3n + 1) {
  border-right: 1px solid #ffffff;
}

.game-board-grid:nth-child(3n + 2) {
  border-right: 1px solid #ffffff;
}

/* || Toggle Visibility */

.visible {
  transform: scale(1);
}

.hidden {
  display: none;
}
